h1{
    color:aqua
}

h2{
    color:chartreuse
}
h3{
    color:chartreuse
}
p{
    color:lightsalmon
}


.header{
    background-color: cadetblue;
    display: flex;
    justify-content:space-between;
}
.menu{
    color: cyan;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

a{
    color: lime;
}
p,h2,h3{
    text-align: center;
}